.button {
    position: relative;
    padding: 15px 24px;
    border: none;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #fff 20%, transparent 30%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #fff 15%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: whitetopBubbles 0.6s ease;
  }
  
  @keyframes whitetopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover:after {
    bottom: -70%;
    background-image: radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #fff 15%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%),
      radial-gradient(circle, #fff 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: whitebottomBubbles 0.6s ease;
  }
  
  @keyframes whitebottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }



  .buttonS {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 24px;
    color: black;
    /* text-shadow: 2px 2px rgb(116, 116, 116); */
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    /* background-color: hsl(49deg 98% 60%); */
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .buttonS:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  .buttonS svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.2s ease;
    transition-delay: 200ms;
  }
  
  .buttonS:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    z-index: 2;
  }
  
  .buttonS:hover .now {
    transform: translateX(10px);
    transition-delay: 200ms;
  }
  
  .buttonS:hover .play {
    transform: translateX(200%);
    transition-delay: 200ms;
  }
  
  